:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 280px;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


#app {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
}

.inline-title {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  gap: 12px;
}

.flex-horizontal {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: center;
  margin-bottom: 16px;
}
.flex-horizontal > * {
  flex-grow: 1;
}
.flex-center {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 16px;
}

@media (max-width: 700px) {
  .flex-horizontal {
    flex-direction: column;
  }
  h1 {
    font-size: 24px;
  }
}
